<?xml version="1.0"?>
<configuration>
  <!--<location path="." allowOverride="false">-->
  <appSettings>
    <add key="NoImageFile" value="d:\WWW\NoFace.jpg"/>
    <add key="ApplicationID" value="36"/>
    <add key="TblMailServer" value="172.22.1.118"/>
    <add key="TblMailServerPort" value="25"/>
    <add key="TblEmailName" value="Administrator"/>
    <add key="TblUserName" value="noreply"/>
    <add key="TblPassword" value="itadmin;123"/>
    <add key="TblEmailFrom" value="noreply@trustbanklimited.com"/>
    <add key="MailBCC" value="ashik.email@gmail.com"/>
  </appSettings>
  
  <connectionStrings>
    <add name="TblUserDBConnectionString" connectionString="Data Source=172.22.0.26;Initial Catalog=TblUserDB;Persist Security Info=True;User ID=sa;Password=Fsbank069" providerName="System.Data.SqlClient"/>
    <add name="Report_DBConnectionString" connectionString="Data Source=172.22.0.26;Initial Catalog=Report_DB;Persist Security Info=True;User ID=sa;Password=Fsbank069" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers >
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
    </handlers>
  </system.webServer>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="2000000" enable="true" executionTimeout="120000" />
    
    <roleManager enabled="false">
      <providers>
        <clear/>
      </providers>
    </roleManager>

    <sessionState mode="SQLServer" timeout="3600" sqlConnectionString="Data Source=172.22.0.26;Integrated Security=False;User ID=sa;pwd=Fsbank069" sqlCommandTimeout="30" cookieless="false" />

    <machineKey validationKey="8B9F68D0CC730F6F046D0173021C34B1A0D9A01C21D8E4D4A7A1DFF38332DEE8CBBAFEA503C18776614EE9D4F7EEA7E5D2D5571630547D822485A27B1EF53AC1" decryptionKey="60009563EFCFC594FD1BC46684943AA398EE70412A624B2EB488BBB071F15ECF" validation="SHA1" decryption="AES" />
    <pages controlRenderingCompatibilityVersion="4.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <!--</location>-->
</configuration>